nbproject
._*
.~lock.*
.*.sw?
*~
*.kate-swp
.buildpath
*.DS_Store
.env
.idea/sonarlint/
.project
.settings
coverage/
vendor/
node_modules/
.sass-cache/
.scannerwork/
data/cache/phpstan/
public/css/gewis-theme.css
public/css/gewis-theme.css.map
autoload_classmap.php
.postgresql
.vs/
*.cache
.idea/sonarlint.xml
.idea/sonarlint-state.xml
phpstan/phpstan-baseline-temp.neon
phpstan/phpstan-baseline-pr.neon
psalm/psalm-baseline-pr.xml
.DS_Store
/.htaccess
.postgres
config/bash.env
.vscode
phpcs.xml
.idea/phpspec.xml

# Language binaries are created during the docker build process or using 'make compilelang'
*.mo
