* text=auto eol=lf

*.min.js linguist-generated
*.min.css linguist-generated
*.po linguist-generated
*.pot linguist-generated
*.mo linguist-generated

openapi.yaml linguist-documentation

vendor/** linguist-vendored
