services:
    postgresql:
        build: docker/postgresql
        env_file:
            - .env
        volumes:
            - gewisdb_postgresql:/var/lib/postgresql/data:rw
        networks:
            - gewisdb_network
        ports:
            - "5432:5432"
        restart: unless-stopped
    pgadmin:
        build:
            dockerfile: docker/pgadmin/Dockerfile
            context: .
        env_file:
            - .env
        depends_on:
            - postgresql
        networks:
            - gewisdb_network
        ports:
            - "8080:80"
        restart: unless-stopped
    postfix:
        image: mailhog/mailhog
        ports:
            - "8025:8025"
    mailman-core:
        image: maxking/mailman-core:0.4
        container_name: mailman-core
        hostname: mailman-core
        volumes:
            - ./mailman/core:/opt/mailman/
        depends_on:
            - postgresql
        environment:
            - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql/${POSTGRES_MAILMAN_DATABASE}
            - DATABASE_TYPE=postgres
            - DATABASE_CLASS=mailman.database.postgresql.PostgreSQLDatabase
            - HYPERKITTY_API_KEY=somerandomapikeythatiobviouslydidnotcreatemyself
        ports:
            - "8020:8001"
        networks:
            - gewisdb_network
    mailman-web:
        image: maxking/mailman-web:0.4
        container_name: mailman-web
        hostname: mailman-web
        depends_on:
            - postgresql
        volumes:
            - ./mailman/web:/opt/mailman-web-data/
        environment:
            - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql/${POSTGRES_MAILMAN_DATABASE}
            - DATABASE_TYPE=postgres
            - HYPERKITTY_API_KEY=somerandomapikeythatiobviouslydidnotcreatemyself
            - SECRET_KEY=anotherandomkeythatiobviouslydidnotcreatemyself
            - SERVE_FROM_DOMAIN=localhost
            - UWSGI_STATIC_MAP=/static=/opt/mailman-web-data/static
        ports:
            - "8021:8000"
        networks:
            - gewisdb_network
    nginx:
        build: docker/nginx
        volumes:
            - ./mailman/web/static:/var/html/mailman/
        ports:
            - "80:9725"
    stripe:
        image: stripe/stripe-cli:latest
        command: listen --forward-to nginx:9725/member/subscribe/checkout/webhook
        environment:
            - STRIPE_API_KEY=${STRIPE_SECRET_KEY}
            - STRIPE_DEVICE_NAME="GEWISDB on ${HOST:-}${NAME:-}"
            - STRIPE_CLI_TELEMETRY_OPTOUT=1
        depends_on:
            - nginx
        networks:
            - gewisdb_network
    web:
        image: abc.docker-registry.gewis.nl/db/gewisdb/web:development
        build:
            dockerfile: docker/web/development/Dockerfile
            context: .
        depends_on:
            - mailman-core
            - postgresql

volumes:
    gewisdb_postgresql:
