parameters:
    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+\:\:\$[a-zA-Z0-9_]+ type mapping mismatch\: property can contain Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection\&iterable\<[a-zA-Z0-9\\_]+\>\.$#'
        - '#Property [a-zA-Z0-9\\_]+\:\:\$[a-zA-Z0-9_]+ type mapping mismatch\: property can contain [a-zA-Z0-9\\_]+\|null but database expects [a-zA-Z0-9\\_]+\.$#'
        - '#Property [a-zA-Z0-9\\_]+\:\:\$[a-zA-Z0-9_]+ type mapping mismatch\: database can contain [a-zA-Z0-9\\_]+\|null but property expects [a-zA-Z0-9\\_]+\.$#'
        -
            message: '#^Template type T of method Report\\Service\\Meeting\:\:generateSubDecision\(\) is not referenced in a parameter.$#'
            count: 1
            path: ../module/Report/src/Service/Meeting.php
        - '#Property User\\Model\\ApiPrincipal\:\:\$permissions type mapping mismatch\: backing type string of enum User\\Model\\Enums\\ApiPermissions does not match database type array\<string\>\.$#'
        - '#Property User\\Model\\ApiPrincipal\:\:\$permissions type mapping mismatch\: database can contain User\\Model\\Enums\\ApiPermissions\|null but property expects array\<User\\Model\\Enums\\ApiPermissions\>.$#'
        - '#Property User\\Model\\ApiPrincipal\:\:\$permissions type mapping mismatch\: database can contain array<int, User\\Model\\Enums\\ApiPermissions>\|null but property expects array\<User\\Model\\Enums\\ApiPermissions\>.$#'
        - '#Property User\\Model\\ApiPrincipal\:\:\$permissions type mapping mismatch\: property can contain array\<User\\Model\\Enums\\ApiPermissions\> but database expects User\\Model\\Enums\\ApiPermissions\|null.$#'
