<?php

use Doctrine\DBAL\Driver\PDO\SQLite\Driver as SQLiteDriver;

// Use the production config, but apply test configs.
$doctrineConfig = require __DIR__ . '/doctrine.local.php';

$doctrineConfig['doctrine']['connection']['orm_default']['driverClass'] = SQLiteDriver::class;
$doctrineConfig['doctrine']['connection']['orm_default']['params'] = [
    'user'     => 'phpunit',
    'password' => 'phpunit',
    'memory' => true,
    'charset' => 'utf8mb4',
    'collate' => 'utf8mb4_unicode_ci',
];
$doctrineConfig['doctrine']['connection']['orm_report']['driverClass'] = SQLiteDriver::class;
$doctrineConfig['doctrine']['connection']['orm_report']['params'] = [
    'user'     => 'phpunit',
    'password' => 'phpunit',
    'memory' => true,
    'charset' => 'utf8mb4',
    'collate' => 'utf8mb4_unicode_ci',
];

return $doctrineConfig;
