<?php
return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' =>'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => array(
                    'host'     => 'postgres',
                    'port'     => '5432',
                    'user'     => 'gewisdb',
                    'password' => 'gewisdb',
                    'dbname'   => 'gewisdb',
                )
            ),
            'orm_import' => array(
                'driverClass' =>'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => array(
                    'host'     => 'postgres',
                    'port'     => '5432',
                    'user'     => 'gewisdb',
                    'password' => 'gewisdb',
                    'dbname'   => 'gewis_old',
                )
            ),
            'orm_report' => array(
                'driverClass' =>'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => array(
                    'host'     => 'postgres',
                    'port'     => '5432',
                    'user'     => 'gewisdb',
                    'password' => 'gewisdb',
                    'dbname'   => 'gewisdb_report',
                )
            ),
        )
    )
);
