<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'checker' => [
        //Email adres where the results of the checker is send to
        'report_mail' => 'secr@gewis.nl',

        //Date after which the checker is going to check. Mainly needed because old db is too fucked up
        'start_date' => '2008-01-01' // Y-m-d
    ]
);
