<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
    /**
     * Checker service configuration.
     */
    'checker' => [
        'membership_api' => [
            'endpoint' => getenv('CHECKER_MEMBERSHIP_API_ENDPOINT'),
            'key' => getenv('CHECKER_MEMBERSHIP_API_KEY'),
            'max_total_requests' => getenv('CHECKER_MEMBERSHIP_API_MAX_TOTAL_REQUESTS'),
            'max_manual_requests' => getenv('CHECKER_MEMBERSHIP_API_MAX_MANUAL_REQUESTS'),
        ],
    ],

    /**
     * Email configuration.
     */
    'email' => [
        'transport' => 'Smtp',
        'options' => [
            'name' => 'gewis.nl',
            'host' => 'postfix',
            'port' => '1025',
        ],
        'from' => [
            'address' => getenv('MAIL_FROM_ADDRESS'),
            'name' => getenv('MAIL_FROM_NAME'),
        ],
        'to' => [
            'checker_result' => [
                'address' => getenv('MAIL_TO_CHECKER_RESULT_ADDRESS'),
                'name' => getenv('MAIL_TO_CHECKER_RESULT_NAME'),
            ],
            'report_error' => [
                'address' => getenv('MAIL_TO_REPORT_ERROR_ADDRESS'),
                'name' => getenv('MAIL_TO_REPORT_ERROR_NAME'),
            ],
            'subscription' => [
                'address' => getenv('MAIL_TO_SUBSCRIPTION_ADDRESS'),
                'name' => getenv('MAIL_TO_SUBSCRIPTION_NAME'),
            ],
        ],
    ],

    /**
     * LDAP settings for login to database frontend
     */
    'ldap' => [
        'servers' => explode(',', getenv('LDAP_SERVERS')),
        'starttls' => getenv('LDAP_STARTTLS'),
        'domain' => getenv('LDAP_DOMAIN'),
        'filter' => getenv('LDAP_FILTER'),
        'binduser_username' => getenv('LDAP_BINDUSER_USERNAME'),
        'binduser_password' => getenv('LDAP_BINDUSER_PASS'),
        'basedn' => getenv('LDAP_BASEDN'),
    ],
];
